<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Define statistics variable using EJS
    var statistics = <%- JSON.stringify(statistics) %>; // disclaimer: vs code highlights error but this line works fine

    // JavaScript code to create pie charts
    var types = Object.keys(statistics);
    types.forEach(function (type) {
      var ctx = document.getElementById(type + 'Chart').getContext('2d');
      var dataKeys = Object.keys(statistics[type]).filter(key => key !== 'total');
      var dataValues = dataKeys.map(key => statistics[type][key]);
      var total = dataValues.reduce((acc, cur) => acc + cur, 0); // Calculate total
      var dataColors = [<%- ticketTypes.map(type => `'${type.toLowerCase()}'`).join(', ') %>];
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: dataKeys.map((key, index) => `${key}: ${(dataValues[index] / total * 100).toFixed(2)}%`),
          datasets: [{
            label: 'Ticket Sales (USD$)',
            data: dataValues,
            backgroundColor: dataColors,
            borderWidth: 1
          }]
        },
        options: {
          responsive: false,
          maintainAspectRatio: false,
          legend: {
            position: 'right'
          }
        }
      });
    });
  });

  function showDiv(divId) {
    var dbstatsDiv = document.getElementById('dbstats');
    var statisticsDiv = document.getElementById('statistics');
    var createEventDiv = document.getElementById('createEvent');

    if (divId === 'dbstats') {
      dbstatsDiv.classList.remove('hidden');
      statisticsDiv.classList.add('hidden');
      createEventDiv.classList.add('hidden');
    } else if (divId === 'statistics') {
      dbstatsDiv.classList.add('hidden');
      statisticsDiv.classList.remove('hidden');
      createEventDiv.classList.add('hidden');
    } else if (divId === 'createEvent') {
      dbstatsDiv.classList.add('hidden');
      statisticsDiv.classList.add('hidden');
      createEventDiv.classList.remove('hidden');
    }
  }

</script>

<body class="bg-gray-100">

  <%- include('header.ejs') %>

    <main class="container mx-auto py-8 px-4">
      <h2 class="text-2xl font-semibold mb-4">Admin Page</h2>
      <div id="sections" class="flex space-x-4 py-4">
        <button onclick="showDiv('dbstats')"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Database Statistics</button>
        <button onclick="showDiv('statistics')"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Event Statistics</button>
        <button onclick="showDiv('createEvent')"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Create Event</button>
      </div>
      <div id="dbstats">
        <div class="mb-8">
          <h3 class="text-xl font-semibold mb-2">Cluster Info</h3>
          <p>
            <%= clusterInfo %>
          </p>
        </div>

        <div class="mb-8">
          <h3 class="text-xl font-semibold mb-2">Nodes Info</h3>
          <% if (nodes && nodes.length> 0) { %>
            <ul>
              <% nodes.forEach(node=> { %>
                <li>
                  <h4>
                    <%= node %>
                  </h4>
                </li>
                <% }); %>
            </ul>
            <% } else { %>
              <p>No nodes found!</p>
              <% } %>
        </div>
      </div>

      <% if (Object.keys(statistics).length> 0) { %>
        <div class="mb-8 hidden" id="statistics">
          <h3 class="text-xl font-semibold mb-2">Statistics</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <% Object.keys(statistics).forEach(type=> { %>
              <div class="bg-white border border-gray-200 p-4 rounded-lg text-center">
                <h3 class="text-lg font-semibold mb-2">Total Revenue for events of type <%= type.charAt(0).toUpperCase()
                    + type.slice(1) %>
                </h3>
                <div class="flex justify-center"> <!-- Centering the canvas -->
                  <canvas id="<%= type %>Chart" width="400" height="400"></canvas>
                </div>
                <p>Total revenue: <%= statistics[type]['total'].toFixed(2) %> $</p>
              </div>
              <% }); %>
          </div>
        </div>
        <% } %>

          <div class="w-full px-4 hidden" id="createEvent">
            <h2 class="text-2xl font-bold mb-4">Create Event</h2>
            <form action="/admin/createEvent" method="POST" class="space-y-4">
              <div class="flex">
                <!-- event info -->
                <div class="space-y-4 w-1/2 px-4">
                  <h4 class="text-lg font-semibold">Event Details</h4>
                  <div class="flex flex-col space-y-2">
                    <label for="eventName" class="text-sm font-medium">Event Name:</label>
                    <input type="text" id="eventName" name="eventName" required
                      class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500">
                  </div>
                  <div class="flex flex-col space-y-2">
                    <label for="eventDescription" class="text-sm font-medium">Event Description:</label>
                    <textarea id="eventDescription" name="eventDescription" rows="4" cols="50" required
                      class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"></textarea>
                  </div>
                  <div class="flex flex-col space-y-2">
                    <label for="eventLocation" class="text-sm font-medium">Event Location:</label>
                    <select id="eventLocation" name="eventLocation" required
                      class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500">
                      <option value="" disabled selected>Select Event Location</option>
                      <% if (eventLocations && eventLocations.length> 0) { %>
                        <% eventLocations.forEach(location=> { %>
                          <option value="<%= location %>">
                            <%= location %>
                          </option>
                          <% }); %>
                            <% } %>
                    </select>
                  </div>
                  <div class="flex flex-col space-y-2">
                    <label for="eventType" class="text-sm font-medium">Event Type:</label>
                    <select id="eventType" name="eventType" required
                      class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500">
                      <option value="" disabled selected>Select Event Type</option>
                      <% if (eventTypes && eventTypes.length> 0) { %>
                        <% eventTypes.forEach(type=> { %>
                          <option value="<%= type %>">
                            <%= type %>
                          </option>
                          <% }); %>
                            <% } %>
                    </select>
                  </div>
                  <div class="flex flex-col space-y-2">
                    <label for="eventDate" class="text-sm font-medium">Event Date:</label>
                    <input class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500"
                      type="datetime-local" id="eventDate" name="eventDate" required>
                  </div>
                </div>
                <!-- ticket info -->
                <div class="space-y-4 w-1/2 px-4">
                  <h4 class="text-lg font-semibold">Tickets</h4>
                  <div class="grid grid-cols-2 gap-4">
                    <% ticketTypes.forEach(ticketType=> { %>
                      <div class="border border-gray-300 rounded-md px-4 py-2">
                        <h5 class="font-semibold mb-2">
                          <%= ticketType %>
                        </h5>
                        <div class="flex flex-col space-y-2">
                          <label for="<%= ticketType.toLowerCase() %>TotalQuantity" class="text-sm font-medium">Total
                            Quantity:</label>
                          <input type="number" id="<%= ticketType.toLowerCase() %>TotalQuantity"
                            name="<%= ticketType.toLowerCase() %>TotalQuantity" required min="1"
                            class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500">
                        </div>
                        <div class="flex flex-col space-y-2">
                          <label for="<%= ticketType.toLowerCase() %>TicketPrice"
                            class="text-sm font-medium">Price:</label>
                          <input type="number" id="<%= ticketType.toLowerCase() %>TicketPrice"
                            name="<%= ticketType.toLowerCase() %>TicketPrice" step="0.01" required min="1"
                            class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-500">
                        </div>
                      </div>
                      <% }); %>
                  </div>
                  <div class="text-center">
                    <input type="submit" value="Create Event"
                      class="bg-blue-500 text-white px-10 py-2 rounded-md hover:bg-blue-600 cursor-pointer transition duration-300">
                  </div>
                </div>
              </div>

            </form>
          </div>
    </main>


    <%- include('footer.ejs') %>

      
</body>

</html>