<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>TickETCD</h1>
    <h2>Consistency in Every Ticket</h2>
  </header>

  <main>

    <h2>Event '<%= event.name %>'<h2>
    <h4><%= event.description %></h4>
    <h4>In: <%= event.location %></h4>
    <h4>Type: <%= event.type %></h4>
    <h4>Date: <%= event.date %></h4>
    <h4>Current we've <%= event.current_quantity %> total tickets to purchase</h4>
    
    <form>
      <button>
        <%= isFavourite ? 'Remove from Favorites' : 'Add to Favorites' %>
      </button>
    </form>
    <hr></hr>

    <h3>Tickets details</h3>

    <% if (tickets && tickets.length > 0) { %>
      <ul>
        <% tickets.forEach(ticket => { %>
          <li><%= ticket.type %></li>
          <ul>
            <li>Price: <%= ticket.price %></li>
            <li>Current quantity: <%= ticket.current_quantity %></li>
            <li>Total quantity: <%= ticket.total_quantity %></li>
          </ul>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No tickets found!</p>
    <% } %>

  </main>

  <hr>

  <footer>
    <p>BDNR @ 2024</p>
  </footer>

</body>
</html>
