<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-gray-100">

  <%- include('header.ejs') %>


  <main class="max-w-4xl mx-auto px-4 py-8">

    <h2 class="text-2xl font-bold mb-4">Event '<%= event.name %>'</h2>
    <h4 class="mb-2"><%= event.description %></h4>
    <h4 class="mb-2">In: <%= event.location %></h4>
    <h4 class="mb-2">Type: <%= event.type %></h4>
    <h4 class="mb-2">Date: <%= event.date %></h4>
    <h4 class="mb-4">Current we've <%= event.current_quantity %> total tickets to purchase</h4>
    
    <form method="POST" action="/event/<%= isFavourite ? 'remove-favourite' : 'add-favourite' %>" class="mb-4">
      <input value="<%= eventID %>" name="eventID" type="hidden">
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
        <%= isFavourite ? 'Remove from Favorites' : 'Add to Favorites' %>
      </button>
    </form>
    <hr class="mb-4">

    <h3 class="text-lg font-semibold mb-2">Tickets details</h3>

    <% if (tickets && tickets.length > 0) { %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <% tickets.forEach(ticket => { %>
          <div class="border border-gray-200 rounded-md p-4">
            <h4 class="text-lg font-semibold mb-2"><%= ticket.type %></h4>
            <ul>
              <li>Price: <%= ticket.price %>$</li>
              <li>Current quantity: <%= ticket.current_quantity %></li>
              <li>Total quantity: <%= ticket.total_quantity %></li>
            </ul>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No tickets found!</p>
    <% } %>
    
    <div class="flex justify-center mt-8">
      <a href="/tickets?eventid=<%= eventid %>" class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 transition duration-300">
        Buy Tickets
      </a>
    </div>

  </main>

  <hr class="mb-4">

  <%- include('footer.ejs') %>

</body>
</html>
