<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <%- include('header.ejs') %>
  
  <main>

    <% if (typeof error_message !== 'undefined' && error_message.length > 0) { %>
      <div class="error-message"><%= error_message %></div>
    <% } %>

    <% if (typeof success_message !== 'undefined' && success_message.length > 0) { %>
      <div class="success-message"><%= success_message %></div>
    <% } %>

    <h2>Homepage</h2>
    <h4>Visit <a href="/profile?username=<%= user.username %>"><%= user.name %> profile</a></h4>

    <form action="/home" method="GET">
      <input type="text" name="search" placeholder="Search..." value="<%= typeof search !== 'undefined' ? search : '' %>">
      <select name="type">
        <option value="all" <%= typeof type !== 'undefined' && type === 'all' ? 'selected' : '' %>>All Event Types</option>
        <% if (eventTypes && eventTypes.length > 0) { %>
          <% eventTypes.forEach(eventType => { %>
            <option value="<%= eventType %>" <%= typeof type !== 'undefined' && type === eventType ? 'selected' : '' %>><%= eventType %></option>
          <% }); %>
        <% } %>
      </select>
      <select name="location">
        <% if (eventLocations && eventLocations.length > 0) { %>
          <% eventLocations.forEach(eventLocation => { %>
            <option value="<%= eventLocation %>" <%= typeof location !== 'undefined' && location === eventLocation ? 'selected' : '' %>><%= eventLocation %></option>
          <% }); %>
        <% } %>
        <option value="all" <%= typeof location === 'undefined' || location === 'all' ? 'selected' : '' %>>All Locations</option>

      </select>
      <button type="submit">Search</button>
    </form>
    
    

    <% if (events && events.length > 0) { %>
      <h3>Events:</h3>
      <ul>
        <% events.forEach(event => { %>
          <li><a href="/event?id=<%= event.id %>"><%= event.name %></a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No events found!</p>
    <% } %>

  </main>

  <footer>
    <p>BDNR @ 2024</p>
  </footer>

</body>
</html>
