<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <!-- Link to your custom CSS file -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-gray-100">

  <%- include('header.ejs') %>


  <main class="max-w-4xl px-4 py-8 mx-auto">

    <h3 class="mb-4 text-xl font-semibold">User info:</h3>

    <div class="flex flex-wrap mb-4">
      <div class="flex items-center mb-2 mr-6">
        <h4 class="mr-2 text-lg font-semibold">Username:</h4>
        <p><%= user.username %></p>
      </div>
      <div class="flex items-center mb-2 mr-6">
        <h4 class="mr-2 text-lg font-semibold">Email:</h4>
        <p><%= user.email %></p>
      </div>
      <div class="flex items-center mb-2 mr-6">
        <h4 class="mr-2 text-lg font-semibold">Password:</h4>
        <p><%= user.password %> :D</p>
      </div>
      <div class="flex items-center mb-2">
        <h4 class="mr-2 text-lg font-semibold">Role:</h4>
        <p><%= user.role %></p>
      </div>
    </div>

    <a href="/notifications" class="mb-4 text-xl font-semibold">My Notifications</a>

    <hr class="my-8">

    <h3 class="mb-4 text-xl font-semibold">User purchases:</h3>

    <% if (purchases && purchases.length > 0) { %>
      <div class="grid grid-cols-1 gap-4 mb-4">
        <% purchases.forEach(purchase => { %>
          <div class="flex items-start justify-between p-4 border border-gray-200">
            <div>
              <a href="/event?id=<%= purchase.event_id %>" class="block mb-2 font-semibold text-blue-500"><%= purchase.event_name %></a>
              <p class="mb-2 text-gray-600"><%= purchase.info.date %></p>
            </div>
            <ul>
              <% purchase.info.tickets.forEach(ticket => { %>
                <li class="mb-2">
                  <span class="font-semibold">Type:</span> <%= ticket.type %> -
                  <span class="font-semibold">Quantity:</span> <%= ticket.quantity %>
                </li>
                
              <% }); %>
            </ul>
            <form action="/tickets/deletetickets" method="POST">
              <input type="hidden" name="event" value="<%= purchase.event_id %>" />
              <input type="hidden" name="date" value="<%= purchase.info.date %>" />
              <input type="hidden" name="tickets" value="<%= purchase.info.tickets %>" />
              <button type="submit"
                class="px-4 py-2 text-white transition duration-300 bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600">X</button>
            </form>
          </div>
        <% }); %>
      </div>
    <% } else { %>
      <p>No purchases found!</p>
    <% } %>
    
    

    <hr class="my-8">

    <h3 class="mb-4 text-xl font-semibold">Favourite Events</h3>
    <% if (favourites && favourites.length > 0) { %>
      <ul class="mb-4">
        <% favourites.forEach(favorite => { %>
          <li><a href="/event?id=<%= favorite.event_id %>" class="text-blue-500"><%= favorite.event_name %></a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No favourite events found!</p>
    <% } %>

  </main>

  <%- include('footer.ejs') %>

</body>
</html>
