<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TickETCD</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>TickETCD</h1>
    <h2>Consistency in Every Ticket</h2>
  </header>

  <main>

    <h3>User info:</h3>

    <h4>Username: <%= user.username %> </h4>
    <h4>Email: <%= user.email %> </h4>
    <h4>Password: <%= user.password %> :D</h4>
    <h4>Role: <%= user.role %> </h4>

    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>

    <hr></hr>

    <h3>User purchases:</h3>

    <% if (purchases && purchases.length > 0) { %>
      <ul>
        <% purchases.forEach(purchase => { %>
          <li>
            <a href="/event?id=<%= purchase.event_id %>"><%= purchase.event_name %></a>
            <h4><%= purchase.info.date %></h4>
          </li>
          
          <ul>
            <% purchase.info.tickets.forEach(a => { %>
              <ul>
                  <li>Type: <%= a.type %> </li>
                  <li>Quantity:  <%= a.quantity %></li>
              </ul>
             
            <% }); %>
          </ul>
          
        <% }); %>
      </ul>
    <% } else { %>
      <p>No purchases found!</p>
    <% } %>

    <hr></hr>

    <h3>Favourite Events</h3>
    <% if (favourites && favourites.length > 0) { %>
      <ul>
        <% favourites.forEach(favorite => { %>
          <li><a href="/event?id=<%= favorite.event_id %>"><%= favorite.event_name %></a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No purchases found!</p>
    <% } %>


  </main>

  <footer>
    <p>BDNR @ 2024</p>
  </footer>

</body>
</html>
